@model QLBanNongSan.Models.Cart

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Giỏ hàng của bạn</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-3 container">

    @if (Model == null)
    {
        <h3 class="text-center text-danger">@ViewBag.check!</h3><br />
        <a class="btn btn-outline-dark" href="@Url.Action("Index","SanPham")">Quay lại</a>

    }
    else
    {
        <table class="table ">
            <thead>
                <tr>
                    <th>Tên mặt hàng</th>
                    <th>Hình ảnh</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Đơn vị tính</th>
                    <th>Thành tiền</th>
</thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    double total = Convert.ToInt64(item.shoppingProduct.gia.Value * item.shopping_quantity);
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.shoppingProduct.ten_san_pham)
                    </td>
                    <td>
                        <img src="~/Public/Images/@Url.Content(item.shoppingProduct.hinh_anh)" style="width:100px;height:100px;" />
                    </td>
                    <td class="price">
                        @Html.DisplayFor(model => item.shoppingProduct.gia)
                    </td>
                    <td>
                        @using (Html.BeginForm("UpdateQuantity", "GioHang", FormMethod.Post))
                        {
                            <input type="hidden" value="@item.shoppingProduct.ma_san_pham" name="maSP" />
                            <div class="input-group w-50">
                                <input class="form-control" type="number" min="1" max="@Html.DisplayFor(model => item.shoppingProduct.so_luong)" value="@Html.DisplayFor(model => item.shopping_quantity)" name="qty" />
                                <input class="btn btn-outline-success" type="submit" value="Cập nhật" />
                            </div>
                        }

                    </td>
                    <td>
                        @item.shoppingProduct.don_vi_tinh
                    </td>
                    <td class="price">
                        @total
                    </td>

                    <td>
                        <a class="btn btn-outline-danger" href="/GioHang/RemoveCart/@item.shoppingProduct.ma_san_pham">Xóa</a>
                    </td>
                </tr>

                }
            </tbody>
            <tfoot>
                <tr><td colspan="5">Tổng tiền: @Model.Total()</td></tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-between mx-5">
            <a class="btn btn-outline-dark" href="@Url.Action("Index","SanPham")">Quay lại</a>
            <a class="btn btn-outline-dark" href="@Url.Action("Index","DonHang")">Đến trang thanh toán</a>
        </div>
    }


</div>